<% include partials/header %>
<div class="error">
    <h3>We did not find the page you are looking for</h3>
    <img src="/images/404.gif" alt="error image" />

    <a href="/" class="back">BACK TO HOME PAGE</a>
</div>