<footer>
    <a href="https://github.com/Mohamilr" target="_blank">Mohammed Ibrahim</a>
    <a href="https://github.com/Mr-emeka" target="_blank">Chukwuemeka Ukpai</a>
    <a href="https://github.com/iclasschima" target="_blank">iClass Chima</a>
    <p>2020</p>
</footer>
</body>
</html>