<footer>
    <a href="https://github.com/Mohamilr">Mohammed Ibrahim</a>
    <a href="https://github.com/Mr-emeka">Chukwuemeka Ukpai</a>
    <a href="https://github.com/iclasschima">iClass</a>
    <p>2020</p>
</footer>
</body>
</html>